html,
body {
  background: #e4e3ea;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  --paper-accent: #7443e8;
}

.app {
  height: 100vh;
  width: 70%;
  max-width: 760px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: .8em auto;
}

@media only screen and (max-width: 1130px) {
  .app {
      width: 98%;
  }
}

header,
.searcher {
  margin-bottom: .8em;
}

header,
footer {
  line-height: 1.5em;
}

.searcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  font-size: 1em;
  width: 0;
  flex-grow: 1;
}

ul.note-list {
  margin: 0;
  padding-left: 0;
}

ul.note-list:empty::after {
  content: 'No results. Try something more general?';
  font-style: italic;
  text-align: center;
  margin: 3em 0;
  display: block;
  width: 100%;
}

.loading ul.note-list::after {
  content: "Hold on a sec shit's loading...";
}

li.note-item {
  margin-bottom: .4em;
}

li p {
  margin: 0;
  line-height: 1.4em;
}

.note-item li {
  margin: .2em;
}

p.heading {
  font-size: .8em;
  color: #888;
  margin-bottom: .6em;
}

.about-button {
  font-size: 1em;
  margin-left: .6em;
}

header a {
  color: var(--paper-background);
  cursor: pointer;
}

footer a {
  color: var(--paper-accent);
  cursor: pointer;
}

footer {
  margin-bottom: 1em;
}